/*
Error: Undefined mixin 'tablets'.
        on line 8 of E:\front-end\burger-project\css\blocks\burger-weight.scss, in `tablets'
        from line 8 of E:\front-end\burger-project\css\blocks\burger-weight.scss

3: 	position: absolute;
4: 	bottom: rem(0px);
5: 	left: 0;
6: 	opacity: .5;
7: 
8: 	@include tablets {
9: 		top: 0;
10: 		right: 0;
11: 		bottom: auto;
12: 		left: auto;
13: 	}

Backtrace:
E:\front-end\burger-project\css\blocks\burger-weight.scss:8:in `tablets'
E:\front-end\burger-project\css\blocks\burger-weight.scss:8
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `block in with_mixin'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `with_mixin'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
E:/front-end/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
E:/front-end/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
E:/front-end/koala/bin/sass:22:in `load'
E:/front-end/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'tablets'.\A         on line 8 of E:\front-end\burger-project\css\blocks\burger-weight.scss, in `tablets'\A         from line 8 of E:\front-end\burger-project\css\blocks\burger-weight.scss\A \A 3: 	position: absolute;\A 4: 	bottom: rem(0px);\A 5: 	left: 0;\A 6: 	opacity: .5;\A 7: \A 8: 	@include tablets {\A 9: 		top: 0;\A 10: 		right: 0;\A 11: 		bottom: auto;\A 12: 		left: auto;\A 13: 	}"; }
