.nav {
	@include inlineblock(middle);

	@include tablets {
		display: none;
	}

	&_hamburger {
		width: auto;

		.nav__item {
			display: block;
			text-align: center;
			opacity: 0;
			animation-fill-mode: forwards;

			&:after {
				display: block;
				margin: rem(15px) auto;
			}
		}

		@include tablets {
			display: block;
		}
	}
       z-index: 150; 
}

.nav__list {
	width: 100%;
	@extend %clearfix;
    
    @include tablets {
        display: flex;
        flex-direction: column;
    }

	@include laptop {
		text-align: center;
	}
}

.nav__item {
	white-space: nowrap;
	display: inline-block;

    
    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 36px;
    }
    
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 36px;
    }

	&:last-child {
		margin-right: 0;
		&:after {
			display: none;
		}
	}

	&:after {
		content: "";
		@include inlineblock(middle);
		width: rem(5px);
		height: rem(5px);
		border-radius: 50%;
		background: white;
		margin: 0 rem(12px);
        margin: 10px 0;
	}
}

.nav__link {
	@include inlineblock(middle);
	font-size: rem(13px);
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	@include ubuntu(medium);

	&:hover {
		text-decoration: underline;
	}
}
.nav.active {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.9);
        display: flex;
        align-items: center;
        justify-content: center;
}

.hidden {
    overflow: hidden;
}