.reviews {
  background: #000;
  @include tablets {
    min-height: rem(0px);
  }
}

.reviews__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;
  @include tablets {
    height: 25%;
    width: 50%;
  }
}

.review {
  position: relative;
  width: 100%;
  height: 100%;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    transition: .3s;
  }
  &:hover {
    .review__hover {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    &:after {
      background: rgba(#141414, .7);
    }
  }
}

.review__photo {
  width: 100%;
  height: 100%;
  @include cover;
  filter: grayscale(100%);
}

.review__hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(.7);
  opacity: 0;
  padding: 17% 12% 0;
  transition: .3s;
  z-index: 10;
  @include tablets {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.review__title {
  color: #fff;
  @include gagalin;
  font-size: rem(14px);
  margin-bottom: rem(25px);
  @include phones {
    font-size: rem(20px);
  }
    @include tablets {
        margin-bottom: rem(1px);
    }
}

.review__shorttext {
  color: #ffffff;
  font-size: rem(14px);
  @include ubuntu(light);
  margin-bottom: rem(13px);

  @include phones {
    display: none;
  }
}

.review__view {
  border-radius: rem(5px);
  background-color: rgb(47, 50, 52);
  padding: rem(8px) rem(12px);
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  @include ubuntu(medium);
  font-size: rem(12px);
  transition: .3s;
  &:hover {
    background-color: rgb(31, 33, 34);
  }
}

////////////////////////////*
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(62, 64, 65, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000; }

.overlay__container {
  position: relative; }

.overlay__content {
  padding: 1rem;
  max-width: 250px;
  background: #fff;
  border-radius: 5px;
  color: black;
  font-weight: 300;
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.overlay__close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 1.25rem;
  cursor: pointer; }

.overlay__close-img {
  cursor: pointer;
  background: #CD6D45;
  height: 20px;
  width: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  left: 40%; }
  .overlay__close-img:after {
    content: "";
    height: 3px;
    width: 20px;
    background: #CD6D45;
    position: absolute;
    left: -9px;
    top: 8px; }

.overlay__title {
  font-family: 'gagalin';
  font-size: 0.8125rem; }

.overlay__text {
  margin: 10px auto;
  text-align: justify;
  font-size: 0.8125rem; }